
@media only screen and (min-width: 801px)
{
    .sidebar{
        min-width: 277px
    }
    .mobile{
        display: none;
    }
    .flex-variative{
        flex-direction: row;
    }
    .thumbnail{
        max-width: 200px;
        max-height: 200px;
    }
    .thumbnail-container{
        width: 200px;
        height: 200px;
    }
    .mh-95 {
        justify-content: start;
    }
}

@media only screen and (max-width: 800px)
{
    .sidebar{
        display: none !important;
    }
    .desktop{
        display: none !important;
    }
    .flex-variative{
        flex-direction: column;
    }
    .nav-link{
        font-weight: lighter;
    }
    .thumbnail{
        max-width: 190px;
        max-height: 190px;
    }
    .thumbnail-container{
        width: 190px;
        height: 190px;
    }
    .mh-95 {
        justify-content: center;
    }
}

div.mh-95 {
    max-height: 95%;
}

a.hide {
    color: black;
    text-decoration: none;
}
a.hide:hover {
    text-decoration: none;
}